.about {
  background-color: $about-bgc;
  background-repeat: no-repeat;
  background-position: center 107%;
  background-size: contain;
  @media screen and (max-width: 767px) {
    background-image: url('../images/about/aboutBg-mob.png');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/about/aboutBg-mob@2x.png');
    }
  }
  @media screen and (min-width: 1200px) {
    // padding: 125px 75px 65px 72px;
    background-image: url('../images/about/aboutBg.png');
    // background-position: top 255px left -10px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/about/aboutBg@2x.png');
    }
  }
}
//   // padding: 125px 61px 39px;
//   // padding-top: 125px;
//   // padding-bottom: 39px;
//   @media screen and (min-width: 768px) {
//     // padding: 130px 36px 66px 39px;
//     // padding-top: 130px;
//     // padding-left: 72px;
//     // padding-right: 77px;
//   }
//   @media screen and (min-width: 1200px) {
//     // padding-top: 125px;
//     // padding-left: 72px;
//     // padding-right: 77px;
//     // padding: 125px 77px 65px 72px;
//   }
// }

.about-title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: calc(21px / 18px);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $second-title-color;
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(55px / 48px);
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: calc(66px / 58px);
    margin-bottom: 102px;
  }
}
.about__image {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.about-picture {
  @media screen and (min-width: 768px) {
    width: 340px;
  }
  @media screen and (min-width: 1200px) {
    width: 516px;
    margin-top: -47px;
  }
}
.about-label {
  min-width: 198px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(21px / 18px);
  text-align: center;
  text-transform: uppercase;
  color: $hero-bgc;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(30px / 26px);
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(34px / 30px);
    letter-spacing: 0.04em;
  }
}
.about-list-container {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
  @media screen and (min-width: 768px) {
    width: 340px;
    margin-left: 17px;
    margin-top: 46px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    width: 463px;
    margin-left: 74px;
    font-size: 30px;
    line-height: calc(34px / 30px);
    letter-spacing: 0.04em;
  }
}
.about-list__text-dark {
  // width: 220px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19px / 12px);
  color: $title-text-color;
  margin-bottom: 47px;
  // margin-top: 46px;
  @media screen and (min-width: 768px) {
    width: 340px;
    font-size: 14px;
    line-height: calc(25px / 14px);
  }
  @media screen and (min-width: 1200px) {
    width: 463px;
    font-size: 16px;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
  }
}
.about-list__text-light {
  // width: 220px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19px / 12px);
  color: $about-text-color;
  letter-spacing: 0.04em;
  @media screen and (min-width: 768px) {
    // width: 340px;
    font-size: 14px;
    line-height: calc(25px / 14px);
  }
  @media screen and (min-width: 1200px) {
    // width: 463px;
    line-height: calc(27px / 14px);
  }
}
.about-list__text:nth-child(2) {
  margin-bottom: 15px;
}
.about-list__text {
  @media screen and (min-width: 768px) {
    width: 340px;
  }
  @media screen and (min-width: 1200px) {
    // margin-left: 74px;
    width: 463px;
  }
}
// .about-bg-image {
//   padding: 125px 20px 39px;
//   // margin-left: auto;
//   // margin-right: auto;
//   background-repeat: no-repeat;
//   background-position: top 625px left 20px;
//   background-size: contain;
//   background-image: url('../images/about/aboutBg-mob.png');
//   @media screen and (min-width: 768px) {
//     padding: 130px 36px 66px 39px;
//     background-image: none;
//   }
//   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     background-image: url('../images/about/aboutBg-mob@2x.png');
//   }
//   @media screen and (min-width: 1200px) {
//     padding: 125px 75px 65px 72px;
//     background-image: url('../images/about/aboutBg.png');
//     background-position: top 255px left -10px;
//   }
//   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//     background-image: url('../images/about/aboutBg@2x.png');
//   }
// }
.about-btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21px / 16px);
  color: $btn-color;
  background: $primary-white-color;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  width: 176px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 17px 17px;
  margin-top: 17px;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  // margin-left: 50px;
  &:hover,
  &:focus {
    background-color: $btn-hover-color;
  }
  @media screen and (min-width: 768px) {
    margin-top: 62px;
    margin-left: 17px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 45px;
    margin-left: 74px;
  }
}
.about-btn__icon {
  margin-left: 14px;
}
.backdrop {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // z-index: 1;
  // background-color: rgba(0, 0, 0, 0.2);
  // opacity: 1;
  // visibility: visible;
  // transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  //   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  z-index: 1;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: relative;
  background-color: $hero-bgc;
  margin: auto;
  padding: 45px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 90vw;
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 600px;
  }
  @media screen and (min-width: 1200px) {
    width: 800px;
    font-size: 24px;
  }
}
.cow-modal {
  background-repeat: no-repeat;
  // background-position: top 625px left 20px;
  background-size: contain;

  background-image: url('../images/about/cow-modal.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/about/cow-modal@2x.png');
  }
  background-position: center;
}
.icon-close {
  width: 14px;
  height: 14px;
}
.btn-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
  background-color: $hero-bgc;
  cursor: pointer;
}
// .modal-about__list {
//   padding: 15px;
// }
.modal-about__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: calc(17px / 13px);
  display: flex;
  align-items: center;
  text-align: justify;
  text-indent: 25px;
  // width: 420px;
  color: $primary-white-color;
  // color: $primary-white-color;
  @media screen and (min-width: 768px) {
    // width: 500px;
    font-size: 19px;
    line-height: calc(25px / 19px);
  }
  @media screen and (min-width: 1200px) {
    // width: 500px;
    font-size: 24px;
    line-height: calc(32px / 24px);
  }
}
.modal-about__text {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
