.mob-menu {
  position: fixed;
  background-color: $box-menu-color;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: scroll;
  z-index: 2;
  opacity: 1;
  transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .box-container {
    height: 502px;
    width: 250px;
    display: flex;
    flex-direction: column;
    @media screen and(min-width: 768px) {
      width: 254px;
    }
  }
}
.mob-menu.is-hidden {
  right: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.button-container {
  padding-left: 21px;
  @media screen and(min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
  }
}
.menu-close-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  display: inline-flex;
  background-color: transparent;
  fill: $primary-white-color;
  cursor: pointer;
  border: none;
  outline: none;
  &:hover,
  &:focus {
    fill: $second-title-color;
  }
}
.mob-list__link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  text-decoration: none;
  color: $primary-white-color;
}
.mob-list {
  border-top: 1px solid $box-menu-border;
}
.mob-list_border {
  width: 100%;
  height: 42px;
  border-bottom: 1px solid $box-menu-border;
}
.mob-list__item {
  padding-left: 21px;
  padding-top: 12px;
}
.mob-nav .curent {
  color: $second-title-color;
}
.mob-button {
  height: 44px;
  width: 209px;
  margin-top: 60px;
  margin-bottom: 19px;
  border: transparent;
  border-radius: 22px;
  background: $primary-white-color;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $second-title-color;
  padding-left: 48px;
  padding-right: 48px;
  text-align: center;
  @media screen and(min-width: 768px) {
    width: 186px;
    margin-bottom: 12px;
    padding-left: 43px;
    padding-right: 43px;
  }
}
