<section class="customer">
  <div class="container customer__container">
    <div class="customer__slider">
      <div class="slider__item">
        <picture>
          <source srcset="
            ./images/customer/customer1.png 1x,
            ./images/customer/customer1@2x.png 2x">
          <img class="customer__photo" src="./images/customer/customer1.png" alt="Emily photo">
        </picture>
        <div class="customer__background">
          <div class="customer__gradient">
            <p class="customer__reviews"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
        </div>
        <div class="dots"></div>
        <h3 class="customer__name">Emily, Los Angeles</h3>
      </div>
      <div class="slider__item">
        <picture>
          <source srcset="
            ./images/customer/customer2.png 1x,
            ./images/customer/customer2@2x.png 2x">
          <img class="customer__photo" src="./images/customer/customer2.png" alt="Emily photo">
        </picture>
        <div class="customer__background">
          <div class="customer__gradient">
            <p class="customer__reviews"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
        </div>
        <div class="dots"></div>
        <h3 class="customer__name">Adelaida, Chicago</h3>
      </div>
      <div class="slider__item">
        <picture>
          <source srcset="
            ./images/customer/customer3.png 1x,
            ./images/customer/customer3@2x.png 2x">
          <img class="customer__photo" src="./images/customer/customer3.png" alt="Emily photo">
        </picture>
        <div class="customer__background">
          <div class="customer__gradient">
            <p class="customer__reviews"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
          </div>
        </div>
        <div class="dots"></div>
        <h3 class="customer__name">Ida, New York</h3>
      </div>
    </div>
  </div>
</section>