<!--footer-->
<footer class="footer">
    <div class="container footer__container">

        <div>
            <p class="footer__made">homemade ice cream made</p>
            <p class="footer__passion">with passion</p>
        </div>
        <div>
            <ul class="footer__join-contacts">
                <li>
                    <a href="https://github.com/">
                        <svg class="footer__list-icon">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg></a>
                </li>
                <li>
                    <a href="https://web.telegram.org/">
                        <svg class="footer__list-icon">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/">
                        <svg class="footer__list-icon">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg></a>
                </li>
            </ul>
            <p class="footer__call">Feel free to contact <a class="footer__tel" href="tel:+610383766284">+61 (0) 383 766
                    284</a></p>
        </div>


    </div>
    <div class="footer__bottom"></div>
    <div class="container footer__container footer__mini-container">
        <p class="footer__rights-reserved"> &copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>