<section class="gallery">
    <div class="container gallery-container">
        <h2 class="visually-hidden">Gallery</h2>
        <ul class="gallery-list">
            <li class="list gallery-list__item">
                <a class="gallery-link gallery-link__1" href="">
                    <picture>
                        <source srcset="
                                    ./images/galery/galery1-desk.png 1x,
                                    ./images/galery/galery1-desk@2x.png 2x" media="(min-width: 1200px)" />
                        <source srcset="
                                    ./images/galery/galery1-tab.png 1x,
                                    ./images/galery/galery1-tab@2x.png 2x" media="(min-width: 768px)" />
                        <source srcset="
                                    ./images/galery/galery1-mob.png 1x,
                                    ./images/galery/galery1-mob@2x.png 2x" media="(min-width: 480px)" />
                        <img src="./images/galery/galery1-desk.png" alt="icecream">
                    </picture>
                </a>
            </li>
            <li class="list gallery-list__item gallery-list__item-2">
                <a class="gallery-link gallery-link__2" href="">
                    <picture>
                        <source srcset="
                                        ./images/galery/galery2-desk.png 1x,
                                        ./images/galery/galery2-desk@2x.png 2x" media="(min-width: 1200px)" />
                        <source srcset="
                                        ./images/galery/galery2-tab.png 1x,
                                        ./images/galery/galery2-tab@2x.png 2x" media="(min-width: 768px)" />
                        <source srcset="
                                        ./images/galery/galery2-mob.png 1x,
                                        ./images/galery/galery2-mob@2x.png 2x" media="(min-width: 480px)" />
                        <img src="./images/galery/galery2-desk.png" alt="icecream">
                    </picture>
                </a>
                <a class="gallery-link gallery-link__3" href="">
                    <picture>
                        <source srcset="
                                        ./images/galery/galery3-desk.png 1x,
                                        ./images/galery/galery3-desk@2x.png 2x" media="(min-width: 1200px)" />
                        <source srcset="
                                        ./images/galery/galery3-tab.png 1x,
                                        ./images/galery/galery3-tab@2x.png 2x" media="(min-width: 768px)" />
                        <source srcset="
                                        ./images/galery/galery3-mob.png 1x,
                                        ./images/galery/galery3-mob@2x.png 2x" media="(min-width: 480px)" />
                        <img src="./images/galery/galery3-desk.png" alt="icecream">
                    </picture>
                </a>
            </li>
            <li class="list gallery-list__item">
                <a class="gallery-link gallery-link__4" href="">
                    <picture>
                        <source srcset="
                                        ./images/galery/galery4-desk.png 1x,
                                        ./images/galery/galery4-desk@2x.png 2x" media="(min-width: 1200px)" />
                        <source srcset="
                                        ./images/galery/galery4-tab.png 1x,
                                        ./images/galery/galery4-tab@2x.png 2x" media="(min-width: 768px)" />
                        <source srcset="
                                        ./images/galery/galery4-mob.png 1x,
                                        ./images/galery/galery4-mob@2x.png 2x" media="(min-width: 480px)" />
                        <img src="./images/galery/galery4-desk.png" alt="icecream">
                    </picture>
                </a>
                <a class="gallery-link gallery-link__5" href="">
                    <picture>
                        <source srcset="
                                        ./images/galery/galery5-desk.png 1x,
                                        ./images/galery/galery5-desk@2x.png 2x" media="(min-width: 1200px)" />
                        <source srcset="
                                        ./images/galery/galery5-tab.png 1x,
                                        ./images/galery/galery5-tab@2x.png 2x" media="(min-width: 768px)" />
                        <source srcset="
                                        ./images/galery/galery5-mob.png 1x,
                                        ./images/galery/galery5-mob@2x.png 2x" media="(min-width: 480px)" />
                        <img src="./images/galery/galery5-desk.png" alt="icecream">
                    </picture>
                </a>
            </li>
            <li class="list gallery-list__item">
                <a class="gallery-link gallery-link__6" href="">
                    <picture>
                        <source srcset="
                                        ./images/galery/galery6-desk.png 1x,
                                        ./images/galery/galery6-desk@2x.png 2x" media="(min-width: 1200px)" />
                        <source srcset="
                                        ./images/galery/galery6-tab.png 1x,
                                        ./images/galery/galery6-tab@2x.png 2x" media="(min-width: 768px)" />
                        <source srcset="
                                        ./images/galery/galery6-mob.png 1x,
                                        ./images/galery/galery6-mob@2x-min.png 2x" media="(min-width: 480px)" />
                        <img src="./images/galery/galery6-desk.png" alt="icecream">
                    </picture>
                </a>
                <a class="gallery-link gallery-link__7" href="">
                    <picture>
                        <source srcset="
                                        ./images/galery/galery7-desk.png 1x,
                                        ./images/galery/galery7-desk@2x.png 2x" media="(min-width: 1200px)" />
                        <source srcset="
                                        ./images/galery/galery7-tab.png 1x,
                                        ./images/galery/galery7-tab@2x.png 2x" media="(min-width: 768px)" />
                        <source srcset="
                                        ./images/galery/galery7-mob.png 1x,
                                        ./images/galery/galery7-mob@2x.png 2x" media="(min-width: 480px)" />
                        <img src="./images/galery/galery7-desk.png" alt="icecream">
                    </picture>
                </a>
            </li>
            <li class="list gallery-list__item">
                <a class="gallery-link gallery-link__8" href="">
                    <picture>
                        <source srcset="
                                        ./images/galery/galery8-desk.png 1x,
                                        ./images/galery/galery8-desk@2x.png 2x" media="(min-width: 1200px)" />
                        <source srcset="
                                        ./images/galery/galery8-tab.png 1x,
                                        ./images/galery/galery8-tab@2x.png 2x" media="(min-width: 768px)" />
                        <source srcset="
                                        ./images/galery/galery8-mob.png 1x,
                                        ./images/galery/galery8-mob@2x.png 2x" media="(min-width: 480px)" />
                        <img src="./images/galery/galery8-desk.png" alt="icecream">
                    </picture>
                </a>
                <a class="gallery-link gallery-link__9" href="">
                    <picture>
                        <source srcset="
                                        ./images/galery/galery9-desk.png 1x,
                                        ./images/galery/galery9-desk@2x.png 2x" media="(min-width: 1200px)" />
                        <source srcset="
                                        ./images/galery/galery9-tab.png 1x,
                                        ./images/galery/galery9-tab@2x.png 2x" media="(min-width: 768px)" />
                        <source srcset="
                                        ./images/galery/galery9-mob.png 1x,
                                        ./images/galery/galery9-mob@2x.png 2x" media="(min-width: 480px)" />
                        <img src="./images/galery/galery9-desk.png" alt="icecream">
                    </picture>
                </a>
            </li>
            <li class="list gallery-list__item">
                <a class="gallery-link gallery-link__10" href="">
                    <picture>
                        <source srcset="
                                    ./images/galery/galery10-desk.png 1x,
                                    ./images/galery/galery10-desk@2x.png 2x" media="(min-width: 1200px)" />
                        <source srcset="
                                    ./images/galery/galery10-tab.png 1x,
                                    ./images/galery/galery10-tab@2x.png 2x" media="(min-width: 768px)" />
                        <source srcset="
                                    ./images/galery/galery10-mob.png 1x,
                                    ./images/galery/galery10-mob@2x.png 2x" media="(min-width: 480px)" />
                        <img src="./images/galery/galery10-desk.png" alt="icecream">
                    </picture>
                </a>
            </li>
        </ul>
    </div>
</section>