<header class="header" id="home" id="back_to_top">
    <div class="container header__container">
        <a href="#" class="header-logo link">
            <img srcset="./images/hero/logo-min.png  1x,
                         ./images/hero/logo@2x.png   2x" src="./images/hero/logo-min.png" alt="logotype" width="199">
        </a>
        <nav class="site-nav">
            <ul class="list site-list">
                <li class="site-list__item"><a class="site-list__link curent" href="#">Home</a></li>
                <li class="site-list__item"><a class="site-list__link" href="#about">About us</a>
                </li>
                <li class="site-list__item"><a class="site-list__link" href="#about">How it’s made?</a></li>
                <li class="site-list__item"><a class="site-list__link" href="#products">Our products</a></li>
                <li class="site-list__item"><a class="site-list__link" href="#contacts">Contact</a></li>
            </ul>
        </nav>
        <button type="button" class="menu-open-btn" data-modal-open>
            <svg width="20" height="12">
                <use href="./images/icons.svg#icon-Burger"></use>
            </svg>
        </button>
        <button class="button-header" type="button" data-modalHeader-open>Buy now
            <svg width="4" height="8" class="button__icon">
                <use href="./images/icons.svg#icon-Vector"></use>
            </svg>
        </button>
    </div>
        <!-- кнопка вверх -->
    <a href="#back_to_top"><div class="back-to-top">
        <svg xmlns="http://www.w3.org/2000/svg" style="transform: rotate(270deg);" width="24" height="24"
            viewBox="0 0 24 24">
            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
        </svg>
    </div>
    </a>
</header>