<section class="hero">
    <div class="container hero-container">
        <div class="hero-number">
            <ul class="hero-number__list">
                <li class="list hero-number__link hero-number__link--top">
                    <div class="hero-number__wrap animate__animated animate__fadeInDown">
                        <h3 class="hero-number__title">16</h3>
                        <p class="hero-number__text">cafes</p>
                        <span class="hero-number__round"></span>
                    </div>
                </li>
                <li class="list hero-number__link hero-number__link--bottom">
                    <div class="hero-number__wrap animate__animated animate__fadeInDown">
                        <h3 class="hero-number__title">23</h3>
                        <p class="hero-number__text">food trucks</p>
                        <span class="hero-number__round"></span>
                    </div>
                </li>
            </ul>
        </div>
        <h1 class="hero-tittle">ice cream made with <span class="hero-tittle__text">passion</span></h1>
        <div class="circle"></div>
        <ul class="list hero-btn">
            <li class="hero-btn__item"><a class="hero-btn__link link" href="#products">Products</a></li>
            <li class="hero-btn__item"><a class="hero-btn__style link" href="#about">How it’s made?</a></li>
        </ul>
        <div class="photo-box">
            <picture
                class="hero-picture animate__animated animate__fadeInDown animate__delay 10ms animate__duration 5ms">
                <source srcset="./images/hero/heroIceCream-desk.png  1x, ./images/hero/heroIceCream-desk@2x.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/hero/heroIceCream-tab.png  1x, ./images/hero/heroIceCream-tab@2x.png   2x"
                    media="(min-width: 768px)">
                <source srcset="./images/hero/heroIceCream-mob.png 1x, ./images/hero/heroIceCream-mob@2x.png   2x"
                    media="(min-width: 320px)">
                <img src="./images/hero/heroIceCream-desk.png" alt="ice-cream">
            </picture>
            <picture
                class="hero-img animate__animated animate__lightSpeedInLeft animate__delay 4ms animate__duration 5ms">
                <source srcset="./images/hero/heroMilk-desk.png 1x, ./images/hero/heroMilk-desk@2x.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/hero/heroMilk-tab.png 1x, ./images/hero/heroMilk-tab@2x.png  2x"
                    media="(min-width: 768px)">
                <img src="./images/hero/heroMilk-desk.png" alt="milk">
            </picture>
            <picture class="hero-foto animate__animated animate__backInRight animate__delay 7ms animate__duration 5ms">
                <source srcset="./images/hero/heroGirl-desk.png  1x, ./images/hero/heroGirl-desk@2x.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/hero/heroGirl-tab.png  1x, ./images/hero/heroGirl-tab@2x.png   2x"
                    media="(min-width: 768px)">
                <img src="./images/hero/heroGirl-desk.png" alt="girl">
            </picture>
        </div>
        <div class="hero__milk-area">
            <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et</p>
        <button class="btn-arrow" type="button">
            <picture>
                <source srcset="./images/hero/heroBtndesk.png 1x, ./images/hero/heroBtndesk@2x.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/hero/heroBtn-tab.png 1x, ./images/hero/heroBtn-tab@2x.png  2x"
                    media="(min-width: 768px)">
                <img src="./images/hero/heroBtndesk.png" alt="arrow">
            </picture>
        </button>
        <div class="hero__message">
            <img src="./images/hero/bulb.png" alt="try it" class="hero__bulb">
            <p class="hero__message--text">You must try it!!!</p>
        </div>
    </div>
    </div>
</section>