<section class="container products">
  <div class="products-up">
    <p class="products-up__text">100% natural</p>
    <h2 class="products-up__title" id="products">products</h2>
    <ul class="list products-list">
      <li class="products-list__item">
        <article class="cocktail cocktail-pink">
          <div class="cocktail__image">
            <img
              srcset="
                ./images/products/prodIceCream-mob.png    1x,
                ./images/products/prodIceCream-mob@2x.png 2x
              "
              src="./images/products/prodIceCream-mob.png"
              alt="ice-cream-image"
            />
          </div>
          <div class="products-content">
            <h3 class="products-content__title">ice cream</h3>
            <div class="products-content__dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <p class="products-content__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button type="button" class="products-content__button">
              <img class="products-content__icon" src="./images/products/prodBtn-desk.png" alt="" />
            </button>
          </div>
        </article>
      </li>
      <li class="products-list__item">
        <article class="cocktail cocktail-orange">
          <div class="cocktail__image">
            <img
              srcset="
                ./images/products/prodIceCoffee-mob.png    1x,
                ./images/products/prodIceCoffee-mob@2x.png 2x
              "
              src="./images/products/prodIceCoffee-mob.png"
              alt="ice-cream-image"
            />
          </div>
          <div class="products-content">
            <h3 class="products-content__title">ice coffee</h3>
            <div class="products-content__dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <p class="products-content__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button type="button" class="products-content__button">
              <img class="products-content__icon" src="./images/products/prodBtn-desk.png" alt="" />
            </button>
          </div>
        </article>
      </li>
      <li class="products-list__item">
        <article class="cocktail cocktail-green">
          <div class="cocktail__image">
            <img
              srcset="
                ./images/products/prodMilkshake-mob.png    1x,
                ./images/products/prodMilkshake-mob@2x.png 2x
              "
              src="./images/products/prodMilkshake-mob.png"
              alt="ice-cream-image"
            />
          </div>
          <div class="products-content">
            <h3 class="products-content__title">milkshakes</h3>
            <div class="products-content__dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <p class="products-content__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button type="button" class="products-content__button">
              <img class="products-content__icon" src="./images/products/prodBtn-desk.png" alt="" />
            </button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
